@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}
:root {
  --crt-red: rgb(218, 49, 49);
  --crt-green: rgb(112, 159, 115);
  --crt-blue: rgb(40, 129, 206);
}
/* Global */
#root {
  @apply flex flex-col items-center justify-center min-h-screen;
  height: 100vh;
  height: 100dvh;
  color: rgba(255, 255, 255, 0.75);
}

.crt {
  background-color: rgb(25, 25, 30);
  position: relative;
}
